# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*.so

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
*.cover
*.nupkg

# Directories
.eggs/
.mypy_cache/
.pytest_cache/
__pypackages__/

# Logs
*.log

# Environment variables
.env

# Environments
.venv/
venv/
venv.bak/
ENV/

# IDEs and editors
*.swp
*.swo
*.swn
.DS_Store
.idea/
.vscode/
*.sage.py
*.ropeproject
.ipynb_checkpoints

# Various configurations and caches
*.pyre/
*.tox/
*.nox/
.cache/
*.pot
*.mo
.Python

# Misc
*.spec
profile_default/
pip-log.txt
pip-delete-this-directory.txt
local_settings.py