[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
tabulate = "*"
networkx = "*"
twine = "*"
importlib = {metadata = "*"}
build = "*"

[dev-packages]
twine = "*"
build = "*"
